@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=nunito:wght@400;700&display=swap"); */

* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}